<%- include('../partials/head'); -%>

<body>
  <nav class="sidebar">
    <form>
      <input placeholder="Search" type="search" />
    </form>
    <ul>
      <% packages.forEach(package => { %>
        <li data-name="<%= package %>">
          <a class="<%= package === activePackage ? 'active' : '' %>" href="/<%= package %>">
            <span class="package-name"><%= package %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  </nav>

  <main class="body markdown-body">
    <%- readmeHtml ? readmeHtml : '' %>
  </main>
</body>

