<%- include('../partials/head'); -%>

<body>
  <nav class="sidebar">
    <ul>
      <% repos.forEach(repo => { %>
        <li>
          <a class="<%= repo === activePackage ? 'active' : '' %>" href="<%= repo %>">
            <span class="repo-name"><%= repo %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  </nav>

  <main class="body markdown-body">
    <%- readmeHtml ? readmeHtml : '' %>
  </main>
</body>

